USE [VSK_Archive]
GO
/****** Object:  Table [dbo].[ClientDrivers]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientDrivers](
	[ClientID] [int] NOT NULL,
	[DriverID] [int] NOT NULL,
 CONSTRAINT [PK_ClientDrivers] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC,
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[ClientTypeID] [int] NOT NULL,
	[AgentID] [int] NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](100) NULL,
	[PassportNumber] [nvarchar](20) NULL,
	[INN] [nvarchar](12) NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientTypes]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientTypes](
	[ClientTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ClientTypes] PRIMARY KEY CLUSTERED 
(
	[ClientTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverInsuranceHistory]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverInsuranceHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[DriverID] [int] NOT NULL,
	[PolicyID] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[HadAccident] [bit] NOT NULL,
	[KBM] [decimal](4, 2) NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_DriverInsuranceHistory] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[DateOfBirth] [date] NOT NULL,
	[LicenseNumber] [nvarchar](20) NOT NULL,
	[DrivingExperience] [int] NOT NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[ManagerID] [int] NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthConditions]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthConditions](
	[HealthConditionID] [int] IDENTITY(1,1) NOT NULL,
	[ConditionName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HealthConditions] PRIMARY KEY CLUSTERED 
(
	[HealthConditionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LifeAndHealth]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LifeAndHealth](
	[LifeAndHealthID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyID] [int] NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[HealthConditionID] [int] NOT NULL,
	[Occupation] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LifeAndHealth] PRIMARY KEY CLUSTERED 
(
	[LifeAndHealthID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[ChangedData] [nvarchar](max) NULL,
	[ChangeDate] [datetime] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[EmployeeID] [int] NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policies]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policies](
	[PolicyID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyTypeID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
	[InsuranceAmount] [decimal](15, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
 CONSTRAINT [PK_Policies] PRIMARY KEY CLUSTERED 
(
	[PolicyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyClients]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyClients](
	[PolicyID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
 CONSTRAINT [PK_PolicyClients] PRIMARY KEY CLUSTERED 
(
	[PolicyID] ASC,
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyDrivers]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyDrivers](
	[PolicyID] [int] NOT NULL,
	[DriverID] [int] NOT NULL,
 CONSTRAINT [PK_PolicyDrivers] PRIMARY KEY CLUSTERED 
(
	[PolicyID] ASC,
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyStatuses]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PolicyStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyTypes]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyTypes](
	[PolicyTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PolicyTypes] PRIMARY KEY CLUSTERED 
(
	[PolicyTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[PropertyID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyID] [int] NOT NULL,
	[PropertyTypeID] [int] NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Area] [decimal](10, 2) NOT NULL,
	[Value] [decimal](15, 2) NOT NULL,
 CONSTRAINT [PK_Properties] PRIMARY KEY CLUSTERED 
(
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyTypes]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTypes](
	[PropertyTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PropertyTypes] PRIMARY KEY CLUSTERED 
(
	[PropertyTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleMakes]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleMakes](
	[MakeID] [int] IDENTITY(1,1) NOT NULL,
	[MakeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VehicleMakes] PRIMARY KEY CLUSTERED 
(
	[MakeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleModels]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleModels](
	[ModelID] [int] IDENTITY(1,1) NOT NULL,
	[MakeID] [int] NOT NULL,
	[ModelName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VehicleModels] PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 29.05.2025 13:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyID] [int] NOT NULL,
	[ModelID] [int] NOT NULL,
	[VIN] [nvarchar](17) NOT NULL,
	[Year] [int] NOT NULL,
	[LicensePlate] [nvarchar](20) NOT NULL,
	[RegistrationRegion] [nvarchar](100) NULL,
	[EnginePower] [int] NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ClientDrivers] ([ClientID], [DriverID]) VALUES (1, 1)
INSERT [dbo].[ClientDrivers] ([ClientID], [DriverID]) VALUES (1, 2)
INSERT [dbo].[ClientDrivers] ([ClientID], [DriverID]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [ClientTypeID], [AgentID], [LastName], [FirstName], [MiddleName], [CompanyName], [PassportNumber], [INN], [Phone], [Email]) VALUES (1, 1, 3, N'Иванов', N'Иван', N'Иванович', NULL, N'1234 567890', N'1434567812', N'+79123435678', N'ivanov@example.com')
INSERT [dbo].[Clients] ([ClientID], [ClientTypeID], [AgentID], [LastName], [FirstName], [MiddleName], [CompanyName], [PassportNumber], [INN], [Phone], [Email]) VALUES (2, 1, 3, N'Петров', N'Пётр', N'Петрович', NULL, N'2345 678901', N'6345678901', N'+79123465679', N'petrov@example.com')
INSERT [dbo].[Clients] ([ClientID], [ClientTypeID], [AgentID], [LastName], [FirstName], [MiddleName], [CompanyName], [PassportNumber], [INN], [Phone], [Email]) VALUES (3, 2, 4, NULL, NULL, NULL, N'ООО Ромашка', NULL, N'1234567890', N'+76123456480', N'romashka@example.com')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[ClientTypes] ON 

INSERT [dbo].[ClientTypes] ([ClientTypeID], [TypeName]) VALUES (1, N'Физическое лицо')
INSERT [dbo].[ClientTypes] ([ClientTypeID], [TypeName]) VALUES (2, N'Юридическое лицо')
SET IDENTITY_INSERT [dbo].[ClientTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[DriverInsuranceHistory] ON 

INSERT [dbo].[DriverInsuranceHistory] ([HistoryID], [DriverID], [PolicyID], [Year], [HadAccident], [KBM], [LastUpdated]) VALUES (1, 1, 1, 2025, 0, CAST(1.00 AS Decimal(4, 2)), CAST(N'2025-05-14T12:34:24.217' AS DateTime))
INSERT [dbo].[DriverInsuranceHistory] ([HistoryID], [DriverID], [PolicyID], [Year], [HadAccident], [KBM], [LastUpdated]) VALUES (2, 2, 11009, 2025, 0, CAST(1.00 AS Decimal(4, 2)), CAST(N'2025-05-14T12:34:24.217' AS DateTime))
INSERT [dbo].[DriverInsuranceHistory] ([HistoryID], [DriverID], [PolicyID], [Year], [HadAccident], [KBM], [LastUpdated]) VALUES (3, 3, 11009, 2025, 0, CAST(1.00 AS Decimal(4, 2)), CAST(N'2025-05-14T12:34:24.217' AS DateTime))
SET IDENTITY_INSERT [dbo].[DriverInsuranceHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([DriverID], [ClientID], [LastName], [FirstName], [MiddleName], [DateOfBirth], [LicenseNumber], [DrivingExperience]) VALUES (1, 1, N'Иванов', N'Иван', N'Иванович', CAST(N'1985-03-15' AS Date), N'АБ12345678', 10)
INSERT [dbo].[Drivers] ([DriverID], [ClientID], [LastName], [FirstName], [MiddleName], [DateOfBirth], [LicenseNumber], [DrivingExperience]) VALUES (2, NULL, N'Смирнов', N'Алексей', N'Иванович', CAST(N'1990-07-22' AS Date), N'ВГ98765432', 5)
INSERT [dbo].[Drivers] ([DriverID], [ClientID], [LastName], [FirstName], [MiddleName], [DateOfBirth], [LicenseNumber], [DrivingExperience]) VALUES (3, NULL, N'Козлова', N'Елена', N'Сергеевна', CAST(N'1978-11-30' AS Date), N'КЛ45678912', 15)
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [RoleID], [ManagerID], [LastName], [FirstName], [MiddleName], [Phone], [Email], [Password]) VALUES (1, 1, NULL, N'Сидоров', N'Александр', N'Иванович', N'+79123456783', N'admin@vsk.ru', N'admin1')
INSERT [dbo].[Employees] ([EmployeeID], [RoleID], [ManagerID], [LastName], [FirstName], [MiddleName], [Phone], [Email], [Password]) VALUES (2, 2, NULL, N'Петров', N'Игорь', N'Васильевич', N'+79123454679', N'manager@vsk.ru', N'manager123')
INSERT [dbo].[Employees] ([EmployeeID], [RoleID], [ManagerID], [LastName], [FirstName], [MiddleName], [Phone], [Email], [Password]) VALUES (3, 3, 2, N'Иванова', N'Елена', N'Сергеевна', N'+79123456580', N'agent1@vsk.ru', N'agent12')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthConditions] ON 

INSERT [dbo].[HealthConditions] ([HealthConditionID], [ConditionName]) VALUES (1, N'Здоров')
INSERT [dbo].[HealthConditions] ([HealthConditionID], [ConditionName]) VALUES (2, N'Хронические заболевания')
INSERT [dbo].[HealthConditions] ([HealthConditionID], [ConditionName]) VALUES (3, N'Инвалидность')
SET IDENTITY_INSERT [dbo].[HealthConditions] OFF
GO
SET IDENTITY_INSERT [dbo].[LifeAndHealth] ON 

INSERT [dbo].[LifeAndHealth] ([LifeAndHealthID], [PolicyID], [Age], [Gender], [HealthConditionID], [Occupation]) VALUES (1, 4, 35, N'Мужской', 1, N'Инженер')
INSERT [dbo].[LifeAndHealth] ([LifeAndHealthID], [PolicyID], [Age], [Gender], [HealthConditionID], [Occupation]) VALUES (2, 2005, 14, N'Мужской', 1, N'evth')
INSERT [dbo].[LifeAndHealth] ([LifeAndHealthID], [PolicyID], [Age], [Gender], [HealthConditionID], [Occupation]) VALUES (1002, 3006, 23, N'Мужской', 2, N'ывапывап')
SET IDENTITY_INSERT [dbo].[LifeAndHealth] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([LogID], [TableName], [Action], [ChangedData], [ChangeDate], [UserName], [EmployeeID]) VALUES (1, N'Policies', N'Insert', N'PolicyID: 1, Type: ОСАГО', CAST(N'2025-01-01T10:00:00.000' AS DateTime), N'agent1@vsk.ru', 3)
INSERT [dbo].[Logs] ([LogID], [TableName], [Action], [ChangedData], [ChangeDate], [UserName], [EmployeeID]) VALUES (2, N'Policies', N'Insert', N'PolicyID: 2, Type: КАСКО', CAST(N'2025-02-01T10:00:00.000' AS DateTime), N'agent1@vsk.ru', 3)
INSERT [dbo].[Logs] ([LogID], [TableName], [Action], [ChangedData], [ChangeDate], [UserName], [EmployeeID]) VALUES (3, N'Policies', N'Insert', N'PolicyID: 3, Type: Страхование имущества', CAST(N'2025-03-01T10:00:00.000' AS DateTime), N'agent2@vsk.ru', 4)
GO
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Policies] ON 

INSERT [dbo].[Policies] ([PolicyID], [PolicyTypeID], [StatusID], [InsuranceAmount], [StartDate], [EndDate]) VALUES (1, 1, 1, CAST(5000.00 AS Decimal(15, 2)), CAST(N'2025-01-01' AS Date), CAST(N'2026-01-01' AS Date))
INSERT [dbo].[Policies] ([PolicyID], [PolicyTypeID], [StatusID], [InsuranceAmount], [StartDate], [EndDate]) VALUES (2, 2, 1, CAST(15000.00 AS Decimal(15, 2)), CAST(N'2025-02-01' AS Date), CAST(N'2026-02-01' AS Date))
INSERT [dbo].[Policies] ([PolicyID], [PolicyTypeID], [StatusID], [InsuranceAmount], [StartDate], [EndDate]) VALUES (3, 3, 1, CAST(20000.00 AS Decimal(15, 2)), CAST(N'2025-03-01' AS Date), CAST(N'2026-03-01' AS Date))
SET IDENTITY_INSERT [dbo].[Policies] OFF
GO
INSERT [dbo].[PolicyClients] ([PolicyID], [ClientID]) VALUES (2005, 1)
INSERT [dbo].[PolicyClients] ([PolicyID], [ClientID]) VALUES (3005, 1)
INSERT [dbo].[PolicyClients] ([PolicyID], [ClientID]) VALUES (3005, 2)
GO
INSERT [dbo].[PolicyDrivers] ([PolicyID], [DriverID]) VALUES (1, 1)
INSERT [dbo].[PolicyDrivers] ([PolicyID], [DriverID]) VALUES (1, 2)
INSERT [dbo].[PolicyDrivers] ([PolicyID], [DriverID]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[PolicyStatuses] ON 

INSERT [dbo].[PolicyStatuses] ([StatusID], [StatusName]) VALUES (1, N'Активен')
INSERT [dbo].[PolicyStatuses] ([StatusID], [StatusName]) VALUES (2, N'Истек')
INSERT [dbo].[PolicyStatuses] ([StatusID], [StatusName]) VALUES (3, N'Отменен')
SET IDENTITY_INSERT [dbo].[PolicyStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[PolicyTypes] ON 

INSERT [dbo].[PolicyTypes] ([PolicyTypeID], [TypeName]) VALUES (1, N'ОСАГО')
INSERT [dbo].[PolicyTypes] ([PolicyTypeID], [TypeName]) VALUES (2, N'КАСКО')
INSERT [dbo].[PolicyTypes] ([PolicyTypeID], [TypeName]) VALUES (3, N'Страхование имущества')
SET IDENTITY_INSERT [dbo].[PolicyTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Properties] ON 

INSERT [dbo].[Properties] ([PropertyID], [PolicyID], [PropertyTypeID], [Address], [Area], [Value]) VALUES (1, 3, 1, N'г. Москва, ул. Ленина, д. 10, кв. 5', CAST(60.50 AS Decimal(10, 2)), CAST(5000000.00 AS Decimal(15, 2)))
INSERT [dbo].[Properties] ([PropertyID], [PolicyID], [PropertyTypeID], [Address], [Area], [Value]) VALUES (2, 3007, 1, N'rgsergs', CAST(23.00 AS Decimal(10, 2)), CAST(235235.00 AS Decimal(15, 2)))
INSERT [dbo].[Properties] ([PropertyID], [PolicyID], [PropertyTypeID], [Address], [Area], [Value]) VALUES (3, 3007, 3, N'пирваре', CAST(234.00 AS Decimal(10, 2)), CAST(654.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[Properties] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyTypes] ON 

INSERT [dbo].[PropertyTypes] ([PropertyTypeID], [TypeName]) VALUES (1, N'Квартира')
INSERT [dbo].[PropertyTypes] ([PropertyTypeID], [TypeName]) VALUES (2, N'Дом')
INSERT [dbo].[PropertyTypes] ([PropertyTypeID], [TypeName]) VALUES (3, N'Гараж')
SET IDENTITY_INSERT [dbo].[PropertyTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Страховой агент')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleMakes] ON 

INSERT [dbo].[VehicleMakes] ([MakeID], [MakeName]) VALUES (1, N'Toyota')
INSERT [dbo].[VehicleMakes] ([MakeID], [MakeName]) VALUES (2, N'BMW')
INSERT [dbo].[VehicleMakes] ([MakeID], [MakeName]) VALUES (3, N'LADA')
SET IDENTITY_INSERT [dbo].[VehicleMakes] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleModels] ON 

INSERT [dbo].[VehicleModels] ([ModelID], [MakeID], [ModelName]) VALUES (1, 1, N'Camry')
INSERT [dbo].[VehicleModels] ([ModelID], [MakeID], [ModelName]) VALUES (2, 1, N'Corolla')
INSERT [dbo].[VehicleModels] ([ModelID], [MakeID], [ModelName]) VALUES (3, 2, N'X5')
SET IDENTITY_INSERT [dbo].[VehicleModels] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleID], [PolicyID], [ModelID], [VIN], [Year], [LicensePlate], [RegistrationRegion], [EnginePower]) VALUES (1, 1, 1, N'JTDBE40KX9J123456', 2019, N'А123БВ77', NULL, NULL)
INSERT [dbo].[Vehicles] ([VehicleID], [PolicyID], [ModelID], [VIN], [Year], [LicensePlate], [RegistrationRegion], [EnginePower]) VALUES (2, 2, 3, N'WBAXH5C5XCC123456', 2020, N'В456ГД77', NULL, NULL)
INSERT [dbo].[Vehicles] ([VehicleID], [PolicyID], [ModelID], [VIN], [Year], [LicensePlate], [RegistrationRegion], [EnginePower]) VALUES (1002, 1002, 2, N'апиравпр453', 1294, N'ыпвап234', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
ALTER TABLE [dbo].[DriverInsuranceHistory] ADD  DEFAULT ((0)) FOR [HadAccident]
GO
ALTER TABLE [dbo].[DriverInsuranceHistory] ADD  DEFAULT ((1.0)) FOR [KBM]
GO
ALTER TABLE [dbo].[DriverInsuranceHistory] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [ChangeDate]
GO
ALTER TABLE [dbo].[ClientDrivers]  WITH CHECK ADD  CONSTRAINT [FK_ClientDrivers_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[ClientDrivers] CHECK CONSTRAINT [FK_ClientDrivers_Client]
GO
ALTER TABLE [dbo].[ClientDrivers]  WITH CHECK ADD  CONSTRAINT [FK_ClientDrivers_Driver] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
GO
ALTER TABLE [dbo].[ClientDrivers] CHECK CONSTRAINT [FK_ClientDrivers_Driver]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Agent] FOREIGN KEY([AgentID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Agent]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_ClientType] FOREIGN KEY([ClientTypeID])
REFERENCES [dbo].[ClientTypes] ([ClientTypeID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_ClientType]
GO
ALTER TABLE [dbo].[DriverInsuranceHistory]  WITH CHECK ADD  CONSTRAINT [FK_DriverInsuranceHistory_Driver] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
GO
ALTER TABLE [dbo].[DriverInsuranceHistory] CHECK CONSTRAINT [FK_DriverInsuranceHistory_Driver]
GO
ALTER TABLE [dbo].[DriverInsuranceHistory]  WITH CHECK ADD  CONSTRAINT [FK_DriverInsuranceHistory_Policy] FOREIGN KEY([PolicyID])
REFERENCES [dbo].[Policies] ([PolicyID])
GO
ALTER TABLE [dbo].[DriverInsuranceHistory] CHECK CONSTRAINT [FK_DriverInsuranceHistory_Policy]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK_Drivers_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK_Drivers_Clients]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Manager] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Manager]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Role]
GO
ALTER TABLE [dbo].[LifeAndHealth]  WITH CHECK ADD  CONSTRAINT [FK_LifeAndHealth_HealthCondition] FOREIGN KEY([HealthConditionID])
REFERENCES [dbo].[HealthConditions] ([HealthConditionID])
GO
ALTER TABLE [dbo].[LifeAndHealth] CHECK CONSTRAINT [FK_LifeAndHealth_HealthCondition]
GO
ALTER TABLE [dbo].[LifeAndHealth]  WITH CHECK ADD  CONSTRAINT [FK_LifeAndHealth_Policy] FOREIGN KEY([PolicyID])
REFERENCES [dbo].[Policies] ([PolicyID])
GO
ALTER TABLE [dbo].[LifeAndHealth] CHECK CONSTRAINT [FK_LifeAndHealth_Policy]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Employees]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_PolicyType] FOREIGN KEY([PolicyTypeID])
REFERENCES [dbo].[PolicyTypes] ([PolicyTypeID])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_PolicyType]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[PolicyStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Status]
GO
ALTER TABLE [dbo].[PolicyClients]  WITH CHECK ADD  CONSTRAINT [FK_PolicyClients_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[PolicyClients] CHECK CONSTRAINT [FK_PolicyClients_Client]
GO
ALTER TABLE [dbo].[PolicyClients]  WITH CHECK ADD  CONSTRAINT [FK_PolicyClients_Policy] FOREIGN KEY([PolicyID])
REFERENCES [dbo].[Policies] ([PolicyID])
GO
ALTER TABLE [dbo].[PolicyClients] CHECK CONSTRAINT [FK_PolicyClients_Policy]
GO
ALTER TABLE [dbo].[PolicyDrivers]  WITH CHECK ADD  CONSTRAINT [FK_PolicyDrivers_Drivers] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
GO
ALTER TABLE [dbo].[PolicyDrivers] CHECK CONSTRAINT [FK_PolicyDrivers_Drivers]
GO
ALTER TABLE [dbo].[PolicyDrivers]  WITH CHECK ADD  CONSTRAINT [FK_PolicyDrivers_Policies] FOREIGN KEY([PolicyID])
REFERENCES [dbo].[Policies] ([PolicyID])
GO
ALTER TABLE [dbo].[PolicyDrivers] CHECK CONSTRAINT [FK_PolicyDrivers_Policies]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_Policy] FOREIGN KEY([PolicyID])
REFERENCES [dbo].[Policies] ([PolicyID])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_Policy]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_PropertyType] FOREIGN KEY([PropertyTypeID])
REFERENCES [dbo].[PropertyTypes] ([PropertyTypeID])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_PropertyType]
GO
ALTER TABLE [dbo].[VehicleModels]  WITH CHECK ADD  CONSTRAINT [FK_VehicleModels_Make] FOREIGN KEY([MakeID])
REFERENCES [dbo].[VehicleMakes] ([MakeID])
GO
ALTER TABLE [dbo].[VehicleModels] CHECK CONSTRAINT [FK_VehicleModels_Make]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Model] FOREIGN KEY([ModelID])
REFERENCES [dbo].[VehicleModels] ([ModelID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Model]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Policy] FOREIGN KEY([PolicyID])
REFERENCES [dbo].[Policies] ([PolicyID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Policy]
GO
